
<div class="footer">
  <div class="footer-links">
    Follow us
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="emails">
    <h6>Get in touch</h6>
    <ul>
      <li>
      ivo@mail.com
      </li>
      <li>
      michel@mail.com
      </li>
      <li>
      amaury@mail.com
      </li>
    </ul>
  </div>
  <div class="address">
    <h6>Headoffice</h6>
    <ul>
      <li>
      Wonderrkid Ltd.
      </li>
      <li>
        5th Avenue 1001
      </li>
      <li>
        New York, NY, USA
      </li>
    </ul>
  </div>
  <div class="footer-copyright">
    Made at Wonderrkid, helped by our friends at Le Wagon.
  </div>
</div>
