<div class="banner">
  <div class="banner-content text-center">
    <h1>Connecting scouts and athletes all over the world</h1>
    <p>dream big.</p>
    <%= link_to "Discover", "/users", class: "btn btn-lg btn-primary"  %>
  </div>
</div>