.btn-primary {
  background-color: #2871AA;
  border-color: #2871AA;
}

.btn-primary:hover {
  color: #2871AA;
  border-color: #2871AA;
  background-color: white;
}

.btn-outline-primary {
  color: #2871AA;
  border-color: #2871AA;
}

.btn-outline-primary:hover {
  background-color: #2871AA;
  border-color: #2871AA;
}

.form-control.select.required.mr-2 {
  color: #2871AA;
  border-color: #2871AA;
}

.form-control.string.required.position-field.mr-2 {
  color: #2871AA;
  border-color: #2871AA;
}

.form-control.numeric.integer.required.weight-field.mr-2 {
  color: #2871AA;
  border-color: #2871AA;
}

.form-control.numeric.integer.required.height-field.mr-2 {
  color: #2871AA;
  border-color: #2871AA;
}
