.card-white {
  background-color: white;
  padding: 20px;
  margin: 20px;
  width: 350px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  border-radius: 4px; 
}

.btn-primary-round {
  color: white;
  background-color: #2871AA;
  border-color: #2871AA;
  border-radius: 50px;
}

.btn-primary-round:hover {
  background-color: white;
  border-color: #2871AA;
  color: 2871AA;
}

.card-white:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
  
  border-color: #2871AA;
  a {
    text-decoration: none;
  }
  h3 {
    font-weight: 600;
  }
} 

#profile-data {
  height: 100vh;
  position: sticky;
  top: 0;
}

.photo-card {
  background-position: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba (0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.relation-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
  padding: 16px;
}

@media(max-width: 768px) {
  .photo-cards {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 375px) {
  .photo-cards {
    grid-template-columns: 1fr;
  }
} 