.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.brand .logo img {
  max-width: 300px;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #2871AA;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #2871AA;
  font-weight: bold;
}

.navbar-dark {
  position: relative;
}

.container {
  display: flex;
  width: 1000px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  a {
  text-decoration: none;
  color: black;
  }
}

.container .btn-primary {
  color:white;
}

.container .btn-primary:hover {
  color: #2871AA;
}

.container .btn-outline-primary {
  color: #2871AA;
}

.container .btn-outline-primary:hover {
  color: white;
}

h2 {
  font-family: verdana;
}